*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.game-container{
   
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}

.box-area{
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
      gap: 10px;
    
}

.box{
    background-color:rgba(150, 144, 144, 0.765);
    border-radius: 10px;
    width: 100px;
    height:100px ;
}